@model ReportAspNetCore.Models.User
@{
    ViewData["Title"] = "پایان ثبت نام";
}

<div class="alert alert-success">
    <h2>@Model.UserName عزیز !</h2>
    <h4 class="help-block"> ثبت نام با موفقیت انجام شد</h4>
   <a href="/LoginUserResult">ورود به سایت </a>
</div>